{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Anmelden'}) }}

    {{ include('partials/head-css.html.twig') }}

</head>

<body class="authentication-bg">
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="{{ path('app_dashboard') }}" class="mb-5 d-block auth-logo">
                        <img src="/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                        <img src="/images/logo-light.png" alt="" height="22" class="logo logo-light">
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body p-4">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Willkommen</h5>
                            <p class="text-muted">Bitte melde dich an.</p>
                        </div>
                        <div class="p-2 mt-4">
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <form action="{{ path('app_login') }}" method="post">

                                <div class="mb-3">
                                    <label class="form-label" for="username">E-Mail</label>
                                    <input type="text" class="form-control" id="username" name="_username"  placeholder="E-Mail Adresse" value="{{ last_username }}">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="_password">
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="mt-3 text-end">
                                    <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Anmelden</button>
                                </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>© <script>document.write(new Date().getFullYear())</script> deter-consulting.de</p>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

{{ include('partials/vendor-scripts.html.twig') }}

<!-- App js
<script src="/js/app.js"></script>-->

</body>
</html>
